
*{
    font-family: "Wittgenstein", serif;
    margin:0%;
}
body{
    background-color: rgb(211, 211, 255);
}
header{
    width: 90%;
    margin:50px auto;
    display: flex;
    justify-content: space-between;

}
.btn{
    color:whitesmoke;
    padding: 10px,10px;
    border: none;
    background-color:rgb(120, 139, 80);
    border-radius: 5px ;
}
.btn:hover{
 background-color: rgb(87, 138, 121);
 cursor: pointer;
 transition: 1s;
}